@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --body-padding: 75px;
    @media screen and (max-width: 992px) {
        --body-padding: 25px;
    }
}

* {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

nav,
main {
    overflow: hidden;
}

nav {
    flex: 0 0 calc(max(min(25vw, 350px), 200px));

    padding: var(--body-padding);

    & > ul {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;

        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            a {
                padding: 7px;
                display: block;
                border: 1px solid black;
                box-sizing: border-box;
                text-decoration: none;
                color: black;

                &.active {
                    background-color: lightgray;
                }
            }
        }
    }
}

main {
    width: 100%;

    & > div {
        height: 100%;
        overflow-y: auto;
        padding: var(--body-padding);
        padding-bottom: 0;
        box-sizing: border-box;
        img {
            max-width: 100%;
        }
        &::after {
            content: "";
            display: block;
            margin-top: var(--body-padding);
        }
    }
}
