<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" />
        {{ template "_internal/opengraph.html" . }}
    </head>
    <body>
        <nav>
            <ul>
                {{ $currentPage := . }}
                <li>
                    <a
                        href="/"
                        class="{{ if eq $currentPage.RelPermalink `/` }}active{{ end }}"
                    >
                        Index
                    </a>
                </li>
                {{ range $.Site.Sections }}
                    <hr />
                    <li>
                        {{ .Title }}
                        <ul>
                            {{ range .RegularPages }}
                                <li>
                                    <a
                                        href="{{ .RelPermalink }}"
                                        class="{{ if eq $currentPage.RelPermalink .RelPermalink }}active{{ end }}"
                                    >
                                        <span>{{ .Title }}</span>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>
                {{ end }}
            </ul>
        </nav>

        <main>
            <div>{{ block "main" . }}{{ end }}</div>
        </main>
    </body>
</html>
