<nav>
    <ul>
        {{ $currentPage := . }}
        <li>
            <a
                href="/"
                class="{{ if eq $currentPage.RelPermalink `/` }}active{{ end }}"
            >
                Index
            </a>
        </li>
        {{ range $.Site.Sections }}
            <hr />
            <li>
                {{ .Title }}
                <ul>
                    {{ range .RegularPages }}
                        <li>
                            <a
                                href="{{ .RelPermalink }}"
                                class="{{ if eq $currentPage.RelPermalink .RelPermalink }}active{{ end }}"
                            >
                                <span>{{ .Title }}</span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </li>
        {{ end }}
    </ul>
</nav>
